page-login {
    .button-google {
        background-color: #E8362D;
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        height: 40px;
        border-radius: 7px;
        color: whitesmoke;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        position: center;
    }
    .button-google:hover {
        background-color: #737373;
        color: white;
    }
    .button-facebook {
        background-color: #3255ff;
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        height: 40px;
        border-radius: 7px;
        color: whitesmoke;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        position: center;
    }
    .button-facebook:hover {
        background-color: #737373;
        color: white;
    }
}