<!--
  Generated template for the ViewAttendeesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>View Attendees</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <!--
    <ion-list>

        <ion-item *ngFor="let a of listEventTimeAttendess;">
            <ion-avatar item-left>
                <img *ngIf="!a.Image" src="assets/img/user.png" />
                <img *ngIf="a.Image" src={{a.Image}} style="border-radius: 50%;" />
            </ion-avatar>
            <ion-label text-wrap>{{a.Name}}</ion-label>
            <ion-checkbox item-right></ion-checkbox>
        </ion-item>

    </ion-list>
    -->
    <ion-list>

        <ion-item *ngFor="let a of listEventTimeAttendess;">
            <ion-avatar item-start>
                <img *ngIf="!a.Image" src="assets/img/user.png" />
                <img *ngIf="a.Image" src={{a.Image}} style="border-radius: 50%;" />
            </ion-avatar>
            <h2 text-wrap>{{a.Name}}</h2>
            <p text-wrap>{{a.Email}}</p>
        </ion-item>

    </ion-list>

</ion-content>