<!--
  Generated template for the AdminAccountManagementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Account Management</ion-title>
    </ion-navbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="authorityState" (ionChange)="getListOfAuthorities()">
            <ion-segment-button value="1">
                Approved
            </ion-segment-button>
            <ion-segment-button value="-1">
                Banned
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>

        <ion-item-group *ngFor="let faculty of faculties">
            <ion-item-divider text-wrap color="light" style="font-weight: bold">{{faculty}}
                <ion-thumbnail item-right>
                    <img *ngIf="authorities[faculty][0].Icon" src={{authorities[faculty][0].Icon}} />
                </ion-thumbnail>
            </ion-item-divider>

            <ion-item-sliding *ngFor="let authority of authorities[faculty]">
                <ion-item>
                    <ion-thumbnail item-left>
                        <img *ngIf="!authority.Image" src="assets/img/user.png" />
                        <img *ngIf="authority.Image" src={{authority.Image}} style="border-radius: 50%;" />
                    </ion-thumbnail>
                    <h2>{{authority.Email}}</h2>
                    <p>{{authority.Name}}</p>
                    <p>Role :
                        <span *ngIf="authority.Role.toUpperCase() == 'ADMIN'" style="color: red">
                            {{authority.Role.toUpperCase()}}
                        </span>
                        <span *ngIf="authority.Role.toUpperCase() != 'ADMIN'" style="color: blue">
                            {{authority.Role.toUpperCase()}}
                        </span>
                    </p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="authorityRemove(authority.AID)">
                        <ion-icon name="trash"></ion-icon>Remove
                    </button>
                </ion-item-options>
            </ion-item-sliding>

        </ion-item-group>

    </ion-list>

</ion-content>